/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
.container {
  margin: 0 auto;
  width: 80%;
  /* DEBUG */
  border: 1px solid black;
  height: 100%;
}

html {
  font-size: 62, 5%;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

.mt {
  margin-top: 3em;
}


/* Flex */

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-item-cent {
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}

/* Position */
.absolute{
  position: absolute;
}

/* Typography */

.txt-bold{
  font-weight: bold;
}

/* HEADER */
header {
  height: 80px;
  background-color: #ff6900;
}

.header-nav,
.header-icons {
  width: 35%;
  /* DEBUG */
  border: 1px solid white;
}

.header-logo {
  width: 30%;
  /* DEBUG */
  border: 1px solid white;
}

/* MAIN */

.cards {
  height: 400px;
  width: calc(100% / 3);
  margin-bottom: 0.4em;
  /* DEBUG */
  border: 1px solid white;
  background-color: lightgreen;
  
}

/* Two section inside cards */
.main-img{
  height: 85%;
  position: relative;
  /* DEBUG */  
  background-color: rgb(238, 144, 188);
  /* background-image: url(../img/1.webp);
  background-size: cover;
  background-repeat: no-repeat; */
}

.img-caption{
  height: 15%;
  padding: .3em 0;
  background-color: #ffffff;
}

.img-caption > span:nth-child(1),
.img-caption > span:nth-child(2){
  display: block;
}

.img-caption > span:nth-child(2){
  font-size: 1rem;
  text-transform: uppercase;
}

.img-caption > span:nth-child(3){
  color: red;
}

.img-caption > span:nth-child(4){
  text-decoration: line-through;
}

.card-heart{
  top: 2%;
  right: 0;
  padding: .2em .4em;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
}
.card-heart:hover{
  color: red;
}

.card-sconti{
  bottom: 10%;
}

.sconti-left, .sconti-right{
  color: white;
  text-align: center;
  padding: .2em .4em;
}

.sconti-left{
 margin-right: .3em;
 background-color: red;
}

.sconti-right{
  background-color: green;
}

/* FOOTER */

footer{
  min-height: 120px;
  width: 100%;
  background-color: #1a1a1a;
  color: white;
  margin-top: 2em;
}

.footer-top{
  min-height: 70px;  
}

.footer-left > *, .footer-right > *{
  padding-top: .4em;
}

.footer-left > span{
  font-size: .6rem;
}
.footer-left > h5, .footer-right > h5, .footer-right > div > i{
  font-size: .8rem;
}


/* DEBUG */
.wborder{
  border: 1px solid rgb(255, 255, 255);
}